
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --text-color: #212529;

    --dark-bg: #f8f9fa;
    --content-bg: #ebebeb;
    --card-bg: #ffffff;
    --input-bg: #ebebeb;

    --success-color: #28a745;
    --danger-color: #dc3545;

    --border-radius: 8px;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


body {
    background-color: var(--content-bg);
    color: var(--text-color);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    margin-top: 0;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--text-color);
    font-size: 0.9em;
}


.card-style {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
}


.input-style,
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: var(--input-bg);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(132, 132, 132, 0.05);
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    outline: none;
    border: none;
    box-shadow: 0 1px 3px rgba(132, 132, 132, 0.05); /* Sombra de foco azul sutil */
    background-color: var(--input-bg);
}


.btn-primary-style {
    background-color: #1e1e1e; /* Negro */
    color: white;
    border: none;
    padding: 15px 15px; /* Más alto */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
    font-size: 1.1em;
}

.btn-primary-style:hover {
    background-color: #000000;
}

.btn-secondary-style {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-secondary-style:hover {
    background-color: #5a6268;
}


.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    margin-top: 20px;
    border-radius: var(--border-radius);
    border: 1px solid #c3e6cb;
    font-weight: 500;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    margin-top: 20px;
    border-radius: var(--border-radius);
    border: 1px solid #f5c6cb;
    font-weight: 500;
}


.error-message {
    color: var(--danger-color);
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
}


.loading-spinner {
    text-align: center;
    padding: 50px;
    font-size: 1.2em;
    color: var(--primary-color);
}